@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #ae00cd;
}

body {
  background-image: url('/pexels-padrinan-255379.jpg');
  height: 100vh;
  background-size: cover;
}

button {
  cursor: pointer;
  border: none;
}

.app-container > * {
  padding: 20px;
}

.header {
  background-color: #ffffff78;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.header-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type='file'] {
  display: none;
}

/* Create a custom label to style */
.custom-upload-btn,
.new-folder-btn,
.popup form button {
  /* display: inline-block; */
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.custom-upload-btn:hover {
  background-color: #9400af;
}

.new-folder-btn:hover {
  background-color: #9400af;
}

.popup form button:hover {
  background-color: #9400af;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-details > * {
  padding-block-end: 10px;
}

.file-details span {
  font-weight: 600;
  padding-inline-end: 10px;
}

.file-details h3 {
  color: var(--primary-color);
}

.files-container,
.folders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.files-container,
.folders-container h1 {
  color: var(--primary-color);
}

.file-list,
.folder-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.file-preview {
  text-decoration: none;
  color: #000;
  background-color: #ffffff78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.file-preview:hover {
  background-color: #ffffffad;
}

.file-preview-icon {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #ffffff8a;
  border-radius: 5px;
}

.file-preview-icon.folder {
  color: #ffb800;
}
.file-preview-icon.pdf {
  color: #ed5858;
}
.file-preview-icon.docx {
  color: #48b8f7;
}
.file-preview-icon.xlsx {
  color: #087e40;
}
.file-preview-icon.pptx {
  color: #c23d1c;
}
.file-preview-icon.jpg {
  color: #4b9316;
}

.file-preview-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 9px 0;
  gap: 10px;
}

.file-preview-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.file-preview-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.file-preview-actions:hover {
  border-radius: 50%;
  background-color: #ffffff8a;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.268);
  transition: all 0.1ms ease-in-out;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
}

.popup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.popup form input {
  width: 100%;
}

.popup .close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: inherit;
  font-size: 1.2rem;
  color: gray;
}

.popup .close:hover {
  color: #000;
}

.popup form label {
  font-size: 1.2rem;
}

.popup form button {
  align-self: end;
}

.file-actions-tooltip {
  position: absolute;
  bottom: -131px;
  right: -173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 15px 60px 15px 15px;
}

.file-actions-tooltip .action {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.file-actions-tooltip > .action:hover {
  color: var(--primary-color);
}

.file-actions-tooltip .action span {
  display: flex;
  justify-content: center;
  align-items: center;
}