@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('/pexels-padrinan-255379.jpg');
  height: 100vh;
  background-size: cover;
}

.app-container > * {
  padding: 20px;
}

.header {
  background-color: #ffffff78;
  font-size: 2rem;
  color: rgb(230, 0, 230);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-details span {
  font-weight: 600;
}

.files-container, .folders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.files-container, .folders-container h1 {
  color: rgb(230, 0, 230);
}

.file-list, .folder-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.file-preview {
  text-decoration: none;
  color: #000;
  background-color: #ffffff78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.file-preview-icon {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #ffffff8a;
  border-radius: 5px;
}

.file-preview-icon.folder {
  color: #ffb800;
}
.file-preview-icon.pdf {
  color: #ed5858;
}
.file-preview-icon.docx {
  color: #48b8f7;
}
.file-preview-icon.xlsx {
  color: #087e40;
}
.file-preview-icon.pptx {
  color: #c23d1c;
}
.file-preview-icon.jpg {
  color: #4B9316;
}

.file-preview-name {
  width: 100%;
  height: 30%;
  padding: 9px 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}